{% extends 'base.html.twig' %}

{% block title %}Friends{% endblock %}

{% block main %}
    <div class="row mt-4">
        {% for userView in pager %}
            {% set user = userView.sender == app.user ? userView.receiver : userView.sender  %}
            {{ include('friends/_pending.html.twig') }}
        {% else %}
            {{ 'Cand find any friends' }}
        {% endfor %}
    </div>

    {% if pager.haveToPaginate %}
        <div class="d-flex justify-content-center">
            {{ pagerfanta(pager) }}
        </div>
    {% endif %}
{% endblock %}
