<span class="position-absolute end-0"
      data-bs-toggle="popover"
      data-bs-trigger="hover focus"
      data-bs-title="Owner:"
      data-bs-content="{{ note.owner.email }}">
        <i class="bi bi-person-fill"></i>
</span>