{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block main %}
    <div class="card-columns mt-4">
        {% for note in notes %}
            {{ include('note/_note.html.twig') }}
        {% else %}
            {{ 'Cand find any note' }}
        {% endfor %}
    </div>

    {% if notes.haveToPaginate %}
        <div class="d-flex justify-content-center">
            {{ pagerfanta(notes) }}
        </div>
    {% endif %}

{% endblock %}
