{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block main %}

    <div class="card-columns mt-4">
        {% for note in notes %}
            {{ include('note/_note.html.twig') }}
        {% else %}
            {% if query is not empty %}
                {{ 'Cand find any note' }}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
