<div {{ attributes }}>
    <div class="form-group mt-4">
        <input type="search"
               class="form-control search-field"
               placeholder="Search for friends"
               autocomplete="off"
               data-model="query"
               autofocus
        >
    </div>

    <div class="row mt-4">
        {% for friend in this.friends %}
            <div class="col-sm-4">
                <div class="card friend">
                    <div class="card-body">
                        <p class="card-title"> {{ friend.email }} </p>
                    </div>
                </div>
            </div>
        {% else %}
            {{ 'Cand find any friends' }}
        {% endfor %}
    </div>

    {% if this.friends.haveToPaginate %}
        <div class="d-flex justify-content-center">
            {{ pagerfanta(this.friends, { 'routeName': 'app_note_search', 'routeParams': {query: query}}) }}
        </div>
    {% endif %}
</div>
